{#################### django tags ####################}
{% extends "index.html" %}
{% load static %}

{######################### HTML #########################}
{% block content %}
    <section class="post-list pt-5">

        <div class="container">

            {% if feedback_msg %}
                <div class="page_banner bg-light text-right" dir="rtl">
                    <p class="lead bg-primary text-white rounded text-center p-4">{{ feedback_msg }}</p>                
                </div>
            {% endif %}

            {# paginator #}
            <span class="mx-auto">{% include "includes/paginator.html" %}</span>

            <div class="row">
                
                <!-- Sidebar Widgets Column -->
                {% include "includes/side-widget.html" %}

                <!-- Posts Column -->

                <div class="col-md-8 post-column">
                    {% for post in  page_obj %}
                        {% if post.post_go_public %}
                            
                            <div class="card mb-5 shadow">
                                {# image #}
                                <a href="{% url 'post_details' post.pk post.post_slug %}">
                                    <img class="card-img-top hover-image" src="{{ post.post_image.url }}" alt="{{ post.post_image_alt }}">                            
                                </a>
                                <div class="card-body text-right">
                                    {# title #}
                                    <h2 dir="auto">
                                        <a href="{% url 'post_details' post.pk post.post_slug %}">
                                            {{ post.post_title|capfirst }}
                                        </a>
                                    </h2>
                                    {# meta info #}
                                    <p class="card-text" dir="rtl">{{ post.post_description }}</p>
                                </div>
                                <div class="card-footer">
                                    {# author name #}
                                    by <a href="{% url 'about' %}">Moh Ayman</a> | {{ post.post_created_on|date:'d, F Y' }}
                                    <br>
                                    <br>
                                    {# categories that are related to specific post #}
                                    {% for category in post.post_categories.all %}
                                        <a href="{% url 'post_category' category %}" class="p-1 border">#{{ category }}</a>
                                    {% endfor %}
                                </div>

                                {% if user.is_superuser %}
                                    <div class="card-footer">
                                        {# delete post #}
                                        <a href="{% url 'admin:app_blog_post_delete' post.id %}" class="btn btn-secondary">Delete</a>
                                        {# edit post #}
                                        <a href="{% url 'admin:app_blog_post_change' post.id %}" class="btn btn-secondary">Edit</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->

        {# paginator #}
        <span class="mx-auto">{% include "includes/paginator.html" %}</span>
    </section><!--./ post-list -->

    
    {# back to top #}
    {% include "includes/to-top-btn.html" %}
{% endblock content %}
