{######################### django tags #########################}
{% extends "index.html" %}

{######################### HTML #########################}
{% block content %}
<!-- Page Content -->
    <section class="container post-content pt-5">
        <div class="row">

            {############# Sidebar Widgets  #############}
            {% include "includes/side-widget.html" %}
                
            {############# Post Content #############}
            <div class="card col-md-8 post-column shadow p-3">
                {############# post title #############}
                <h1 class="text-center" dir="auto">{{ post.post_title }}</h1>
                <hr>
                {############# post Image #############}
                <img class="img-fluid rounded" src="{{ post.post_image.url }}" alt="{{ post.post_image_alt_txt }}">
                {############# publishing info #############}
                <div class="card-footer mb-3">
                    {# author name #}
                    by <a href="{% url 'about' %}">Moh Ayman</a> | {{ post.post_created_on|date:'d, F Y' }}
                    <br>
                    <br>
                    {# categories that are related to specific post #}
                    {% for category in post.post_categories.all %}
                        <a href="{% url 'post_category' category %}" class="p-1 border">#{{ category }}</a>
                    {% endfor %}
                </div>
                {############# Post context #############}
                <span dir="rtl" class="text-right">{{ post.post_content|safe }}</span>

                {############# interaction plugins #############}
                {# share buttons #}
                <div class="share-btns p-4 text-white bg-dark">
                    <h5 dir="rtl" class="text-right">مدام وصلت هنا يبقى استفدت، share وفيد غيرك، لو شايف انك متعرفش حد هيستفاد انا هستفاد, وبعدين انا حطط صورة حلوة لمين.</h5>
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style my-4">
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_linkedin"></a>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                    </div>
                </div><!-- ./share-btns -->

            </div><!-- ./Post Content Column -->
        </div><!-- ./row -->
    </section><!-- ./container -->

    {% include 'includes/to-top-btn.html' %}
{% endblock content %}
