{#################### django tags ####################}
{% extends "index.html" %}
{% load static %}

{#################### HTML ####################}
{% block content %}
<div class="about-page bg-white">
    {# author picture #}
    <header class="author">
        <div class="container text-center">
            <div style='width:70%; margin:auto;'>
                <img src="/static/global_images/me.jpg" class="img-thumbnail mb-2 rounded-circle border-primary">
                <h3>Hi my friend, i'm <b>Moh Ayman</b> a <b>Backend Django developer</b>, my mission is simple: <b>make complicated topics easy.</b></h3>
            </div>
        </div>
    </header>

    {# about-context #}
    <section class="about-context bg-light p-5" dir='auto'>
        <div class="container">
            <div class="row">

                <section class="col-md-4 side-widget d-none d-md-block">
                    <!-- superuser Widget -->
                        <div class="card mb-3 side-superuser shadow">
                            <h5 class="card-header text-dark">Let us be Friends</h5>
                            <div class="card-body">
                                <a target="_blank" href="https://www.facebook.com/MohamedAymanHassen/">Facebook</a> | <a target="_blank"  href="https://www.linkedin.com/in/moh-ayman-47453718a/">LinkedIn</a>
                                <a class='d-inlin-block' href="mailto:moh.ayman.hassen@gmail.com">moh.ayman.hassen@gmail.com</a>
                            </div>
                        </div>
                </section>

                <div class="col-md-8" dir='auto'>
                    {{ about_me_context.context|safe }}
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of about-context-->
</div>
{% endblock content %}
