{% extends "index.html" %}

{% block content %}
    <section class="search-page pt-5">
        {% if query %}

        {# matching query #}
        <div class="container">
            {% for result in page.object_list %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        {# image #}
                        <div class="col-md-4">
                            <a href="{{ result.object.get_absolute_url }}">
                                <img class="card-img-top hover-image" src="{{ result.object.post_image.url }}" alt="{{ post.post_image_alt }}">                            
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                {# title #}
                                <h5 class="card-title">
                                    <a href="{{  result.object.get_absolute_url }}" class="text-atten font-weight-bold">
                                        {{ result.object.post_title|capfirst }}
                                    </a>
                                </h5>
                                {# description #}
                                <p class="card-text" dir="auto">{{ result.object.post_description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                {# no matching query #}
                <div class="row">
                    
                    <div class=" card border-0 col-md-4 d-none d-md-block text-right p-4" dir="rtl">
                        <div class="card-title lead">لنتائج بحث أفضل : </div>
                        <ul>
                            <li> أتاكد من التهجئة ( Spelling ) وجرب تاني.</li>
                            <li>متستخدمش الهمزة.</li>
                            <li>أستخدم عدد حروف اكتر.</li>
                            <li>أبحث عن كلمة بالانجليزي ذكرت في الدرس.</li>
                        </ul>
                    </div>

                    <div class="col-md-8 p-3 text-right">
                        {# feddback message #}
                        <h3>المقال غير متاح في الوقت الحالي</h3>

                        {# search form #}
                        <div class="row justify-content-center my-4">
                            <div class="col-12 col-sm-12">
                                <form class="card card-sm" action="/search/">
                                    <div class="card-body row no-gutters align-items-center">
                                        {# input #}
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless text-right" 
                                                type="search"
                                                name="q"
                                                placeholder="جرب تبحث عن حاجة تانية">
                                        </div>
                                        {# submit button #}
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-secondary" 
                                            type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- ./search form -->

                        <p class="lead">
                            <span class='d-block lead'>اكتب كلمة جديدة بمحرك البحث الموجود بالاعلى.</span>
                            <span class='d-block lead'>ترجع للصفحة الرئيسية, <a href="{% url 'post_list' %}">بالضغط هنا</a>.</span>
                            <span class='d-block lead'>لو لسه منضم لعيلة البرمجة جديد اعرف <a href="https://icode.pythonanywhere.com/77/%D8%AE%D8%B7%D9%88%D8%A7%D8%AA-%D8%AA%D8%B9%D9%84%D9%85-%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86-%D9%85%D9%86-%D8%A7%D9%84%D8%B5%D9%81%D8%B1/">تبدا ازاي</a>.</span>
                        </p>

                    </div>

                </div>
            {% endfor %}
        </div><!--./container-->

        {# empty query #}
        {% else %}
            <div class="container">
                
                <div class="row">
                    
                    <div class=" card border-0 col-md-4 d-none d-md-block text-right p-4" dir="rtl">
                        <div class="card-title lead">لنتائج بحث أفضل : </div>
                        <ul>
                            <li> أتاكد من التهجئة ( Spelling ) وجرب تاني.</li>
                            <li>متستخدمش الهمزة.</li>
                            <li>أستخدم عدد حروف اكتر.</li>
                            <li>أبحث عن كلمة بالانجليزي ذكرت في الدرس.</li>
                        </ul>
                    </div>

                    <div class="col-md-8 p-3 text-right">
                        {# feddback message #}
                        <h3>المقال غير متاح في الوقت الحالي</h3>

                        {# search form #}
                        <div class="row justify-content-center my-4">
                            <div class="col-12 col-sm-12">
                                <form class="card card-sm" action="/search/">
                                    <div class="card-body row no-gutters align-items-center">
                                        {# input #}
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless text-right" 
                                                type="search"
                                                name="q"
                                                placeholder="جرب تبحث عن حاجة تانية">
                                        </div>
                                        {# submit button #}
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-secondary" 
                                            type="submit">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- ./search form -->

                        <p class="lead">
                            <span class='d-block lead'>اكتب كلمة جديدة بمحرك البحث الموجود بالاعلى.</span>
                            <span class='d-block lead'>ترجع للصفحة الرئيسية, <a href="{% url 'post_list' %}">بالضغط هنا</a>.</span>
                            <span class='d-block lead'>لو لسه منضم لعيلة البرمجة جديد اعرف <a href="https://icode.pythonanywhere.com/77/%D8%AE%D8%B7%D9%88%D8%A7%D8%AA-%D8%AA%D8%B9%D9%84%D9%85-%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86-%D9%85%D9%86-%D8%A7%D9%84%D8%B5%D9%81%D8%B1/">تبدا ازاي</a>.</span>
                        </p>

                    </div>

                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}