/************* variables *************/
.dark-theme{
  /* body background */
  --body-bg: #18191a;
  /* card background */
  --primary-bg-color: #242526;
  /* card footer background */
  --secondary-bg-color: #3a3b3c;
  /* card title color */
  --primary-font-color: #e4e6eb;
  /* card meta info color */
  --secondary-font-color: #b5babf;
}

.light-theme{
  /*card background*/
  --primary-bg-color: #ffffff;
  /*card footer background*/
  --secondary-bg-color: #f7f7f7;
  /*card title*/
  --primary-font-color: #212529;
  /*card meta info*/
  --secondary-font-color: #6c757d;
}

/************* general *************/

body {
  background-color: var(--body-bg);
}

.hover-image:hover {
  opacity: 0.8;
}

pre[class*="language-"]{
  direction: ltr !important;
}

/************* about page *************/

.about-page .author{
  padding: 156px 0 100px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

.about-page .author h3{
  line-height: 2;
}

.about-page .author img{
    width: 15rem;
}

.about-page .about-context {
  line-height: 38px !important;
  background-color: aqua;
}

.about-page .about-context p{
  font-size: 19px !important;
}

/************* post list page *************/

.post-list{
  margin-bottom: 120px;
}

.post-list .post-column .card{
  background-color: var(--primary-bg-color) !important;
}

.post-list .post-column .card-text{
  color: var(--primary-font-color) !important;
}

.post-list .post-column .card-footer{
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color) !important;
}

/************* post details page *************/

.post-content {
  margin-bottom: 120px;
  line-height: 27px !important;
}

.post-content .post-column{
  background-color: var(--primary-bg-color) !important;
  color: var(--primary-font-color) !important;
}

.post-content .post-column .card-footer{
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color) !important;
}

.post-content span{
  line-height: 35px;
}

.post-content span p,
.post-content span li{
  font-size: 19px !important;
}

.post-content span h3{
    /*margin: 27px;*/
    background: black;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/************* side widget *************/

.side-widget .side-category{
  background-color: var(--primary-bg-color) !important;
}

/************* search page *************/

.search-page {
  height: 100vh;
  background-color: #fff !important;
  color: #000 !important;
}

/************* 404 page *************/

.page-wrap {
  margin-top: 100px;
}
