{# ############ Django tags ############ #}
{% load static %}

{# ############ HTML structure ############ #}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

        {# brand #}
        <a class="navbar-brand" href="{% url 'post_list' %}">
            <img src="{% static 'global_images/logo-python.svg' %}" width="30" height="30" alt="python svg logo">
            PythonEgy
        </a>

        {# navbar toggler #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# navbar links #}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class='nav-link' href="{% url 'post_list' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            {# search form #}
            <form class="form-inline my-2 my-lg-0" method='GET' action="/search/">
                <input class="form-control mr-sm-2 border-0" type="search" placeholder="أبحث المقالات" aria-label="Search" name="q">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>


        </div>
    </div>{# ./container #}
</nav>
