<nav>
    <ul class="pagination justify-content-center mb-4">
    {# Previous page #}
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page{{ page_obj.previous_page_number }}">السابق</a></li>
    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}
        {# current page #}
        {% if page_number == page_obj.number %}
          {% if page_obj.has_next or page_obj.has_previous %}
            <li class="page-item active"><a class="page-link" href="#!">{{ page_obj.number }}</a></li>
          {% endif %}
        {# remaining pages #}
        {% elif page_number < page_obj.number|add:'4' and page_number > page_obj.number|add:'-4' %}
            <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
    {% endfor %}

    {# Next page #}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">التالي</a></li>
    {% endif %}
    </ul>
</nav>
