<!-- Sidebar Widgets Column -->
<section class="col-md-4 side-widget">

    <!-- superuser Widget -->
    {% if user.is_superuser %}
        <div class="card mb-3 side-superuser shadow">
            <h5 class="card-header text-dark">Superuser options</h5>
            <div class="card-body">
                <div class="nav-item">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        {# create post option #}
                        <a class="btn btn-secondary" href="{% url 'admin:app_blog_post_add' %}">Create post</a>
                        <div class="btn-group" role="group">
                            {# admin options #}
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                {# go to admin index #}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin page</a>
                                {# logout as superuser #}
                                <a class="dropdown-item" href="{% url 'admin:logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if categories %}
        <!-- Categories Widget -->
        <div class="card mb-3 side-category shadow">
            {# card title #}
            <div class="card-body">
                <div class="row">
                    {# categories name #}
                    <div class="col-sm-12">
                        <ul class="list-unstyled mb-0">
                            {# loop over category model #}
                            {% for category in categories  %}
                                <li class="d-inline-block m-1">
                                    <a href="{% url 'post_category' category %}" class="p-1 border">
                                        #{{ category }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!-- ./row -->
            </div>
        </div>
    {% endif %}

    {# dark mode switch button #}
    <button onclick="toggleTheme()" class="btn btn-outline-primary btn-lg btn-block my-3 d-none d-md-block shadow">Dark mode</button>
</section>
