{# HTML button #}
<a class="btn btn-primary to-top-btn border font-weight-bold" href="#">UP</a>

{# style the button #}
<style>
    .to-top-btn {
      position: fixed;
      bottom: 50px;
      right: 20px;
      z-index: 9999;
      display: none;
    }

    .to-top-btn-show {
      display: block;
    }
</style>

{# JavaScript button #}
<script type="text/javascript">
    /* begin begin Back to Top button  */
    (function() {
      'use strict';

      function trackScroll() {
        var scrolled = window.pageYOffset;
        var coords = document.documentElement.clientHeight;

        if (scrolled > coords) {
          goTopBtn.classList.add('to-top-btn-show');
        }
        if (scrolled < coords) {
          goTopBtn.classList.remove('to-top-btn-show');
        }
      }

      var goTopBtn = document.querySelector('.to-top-btn');

      window.addEventListener('scroll', trackScroll);
      goTopBtn.addEventListener('click', backToTop);
    })();
    /* end begin Back to Top button  */
</script>


