{% extends "index.html" %}

{% load static %}

{% block content %}
    <section class="404-page pt-5" dir="rtl">
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">
                            <img src="{% static 'global_images/404.png' %}" alt="">
                        </span>
                        <div class="lead">امممم .... الصفحة غير متوفرة, جرب كده</div>
                        <span class='d-block lead'>اكتب كلمة جديدة بمحرك البحث الموجود بالاعلى.</span>
                        <span class='d-block lead'>ترجع للصفحة الرئيسية, <a href="{% url 'post_list' %}">بالضغط هنا</a>.</span>
                        <span class='d-block lead'>لو لسه منضم لعيلة البرمجة جديد اعرف <a href="https://icode.pythonanywhere.com/77/%D8%AE%D8%B7%D9%88%D8%A7%D8%AA-%D8%AA%D8%B9%D9%84%D9%85-%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86-%D9%85%D9%86-%D8%A7%D9%84%D8%B5%D9%81%D8%B1/">تبدا ازاي</a>.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}