{################ django tags ####################}
{% load static %}

{################ HTML ####################}
<!DOCTYPE html>
<html class="light-theme">
<head>

{############## Google tags ##############}
<meta name="google" content="nopagereadaloud" />

{############## general tags ##############}
{# content type #}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{# mobile view #}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{# description #}
<meta name="description" content="{{ description }}">
{# SEO key words #}
<meta name="keywords" content="{% for key in keywords %}{{ key }},{% endfor %}">
{# favicon #}
<link rel="icon" type="image/x-icon" href="{% static 'global_images/favicon-logo-python.ico' %}" />

{############## OG tags ##############}
<meta property="og:type"               content="article" />
<meta property="og:url"                content="{{ url }}" />
<meta property="og:title"              content="{{ title }}" />
<meta property="og:description"        content="{{ description }}" />
{% if post_image %}
    <meta property="og:image" content="{{ post_image }}" />
    <meta property="og:image:url" content="{{ post_image }}">
    <meta property="og:image:secure_url" content="{{ post_image }}">
{% else %}
    <meta property="og:image" content="/media/pythonegy_blog_post_default_image.png" />
    <meta property="og:image:url" content="/media/pythonegy_blog_post_default_image.png">
    <meta property="og:image:secure_url" content="/media/pythonegy_blog_post_default_image.png">
{% endif %}


{######################## Title ########################}
<title>{{ title }}</title>

{######################## prism ########################}
<link rel="stylesheet" type="text/css" href="{% static 'global_css/prism.css' %}">
<script src="{% static 'global_javascript/prism.js' %}"></script>

{######################## CSS Bootstrap ########################}

<link rel="stylesheet" href="{% static 'global_css/bootstrap.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{######################## stylesheet.css ########################}

<link rel="stylesheet" type="text/css" href='{% static "global_css/stylesheet.css" %}'>

</head>
<body>

{# Load Facebook SDK for JavaScript #}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"></script>

{######################## Navbar ########################}
{% include "includes/navbar.html" %}

{######################## Feedback Message ########################}
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-right" role="alert">
                <button type="button" class="close left" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{######################## Extend-able HTML ########################}

{% block content %}{% endblock content %}


{######################## Footer ########################}

<footer class="text-center text-white lead p-5 bg-dark mt-5">
    PythonEgy built with <a href="https://www.djangoproject.com/" class="text-success">Django</a>
</footer>

{######################## javascript.Bootstrap ########################}

{# jQeury #}
<script src='{% static "global_javascript/jquery.js" %}'></script>
{# popper #}
<script src='{% static "global_javascript/popper.js" %}' crossorigin="anonymous"></script>
{# bootstrap #}
<script src='{% static "global_javascript/bootstrap.js" %}' crossorigin="anonymous"></script>

<script src='{% static "global_javascript/plugin.js" %}'></script>

{######################## Extend-able JavaScript ########################}
{% block javascript %}{% endblock javascript %}

</body>
</html>
